/* -------------------------------- 

Background 

-------------------------------- */
body {
  /* this is the page background */
  background-color: #ffffff;
  margin: 0 15rem;
}

/* -------------------------------- 

Patterns

-------------------------------- */
.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 6px;
}

/* -------------------------------- 

Navigation 

-------------------------------- */
header {
  background-color: #19191a;
}

.cd-logo {
  /* logo box style */
  background-color: beige;
  width: 150px;
  position: absolute;
}

@media only screen and (min-width: 1024px) {
  .cd-logo {
    width: 180px;
  }
}
@media only screen and (min-width: 1920px) {
  .cd-logo {
    width: 180px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.cd-main-nav {
  /* main navigation background color - full screen on small devices */
  background: #19191a;
}

.cd-main-nav li {
  font-weight: bolder;
  font-size: larger;
}
.cd-main-nav li a {
  color: #ffffff;
  border-color: #262627;
}

@media only screen and (min-width: 1024px) {
  .cd-main-nav li a {
    color: #7d7d82;
  }

  .cd-main-nav li a.selected {
    color: #ffffff;
    box-shadow: 0 2px 0 orange;
  }

  .cd-main-nav li a:hover {
    color: #ffffff;
  }
}

/* -------------------------------- 

Page title 

-------------------------------- */
main>h1 {
  color: #19191a;
}

/* title goes into the header on big devices */
@media only screen and (min-width: 1920px) {
  h1>main {
    color: #ffffff;
  }
}

/* -------------------------------- 

Typography 

-------------------------------- */
h1,
h2 {
  font-family: 'Poppins', sans-serif;
  color: #19191a;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 1.8rem;
    margin: 1em 0 1.4em;
  }
}

section>h2::before {
  /* number before each section title */
  color: silver;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #58585b;
}

p a {
  color: orange;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

/* -------------------------------- 

Buttons 

-------------------------------- */
.btn {
  border: none;
  box-shadow: none;
  border-radius: .25em;
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  padding: .6em 2.2em;
  cursor: pointer;
  background: #9BAECB;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: grey;
}

.btn.btn-success {
  background: #6fce72;
}

.btn.btn-success:hover {
  background: #39AC7E;
}

.btn.btn-warning {
  background: rgb(255, 165, 0);
}

.btn.btn-warning:hover {
  background: rgb(204, 152, 68);
}

.btn.btn-error {
  background: rgb(231, 3, 3);
}

.btn.btn-error:hover {
  background: #841a1a;
}

.btn.btn-outline {
  color: #9BAECB;
  background: transparent;
  box-shadow: inset 0 0 0 1px #9BAECB;
}

.btn.btn-outline:hover {
  color: #ffffff;
  background: #9BAECB;
}

@media only screen and (min-width: 768px) {
  .btn {
    font-size: 1.6rem;
  }
}

.cd-buttons .cd-box:nth-of-type(2) span {
  /* CSS class name color */
  color: orange;
}

/* -------------------------------- 

Icons 

-------------------------------- */
.cd-icons li {
  /* icons size */
  width: 32px;
  height: 32px;
}

/* -------------------------------- 

Form 

-------------------------------- */
input[type=text],
select {
  border: 1px solid #e6e6e6;
  border-radius: .25em;
  background: #ffffff;
}

input[type=text]:focus,
select:focus {
  outline: none;
}

input[type=text] {
  padding: .6em 1em;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
}

input[type=text].success {
  border-color: #6FCE72;
  box-shadow: 0 0 6px rgba(111, 206, 114, 0.2);
}

input[type=text].alert {
  border-color: #E70303;
  box-shadow: 0 0 6px rgba(228, 101, 95, 0.2);
}

input[type=text]:focus {
  border-color: #FFA500;
  box-shadow: 0 0 6px rgba(204, 152, 68, 0.2);
}

input[type=radio],
input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.radio-label,
.checkbox-label {
  padding-left: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-label::before,
.radio-label::after,
.checkbox-label::before,
.checkbox-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.radio-label::before,
.checkbox-label::before {
  left: 0;
  border: 1px solid #e6e6e6;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
}

.radio-label::after,
.checkbox-label::after {
  left: 3px;
  background: url("../assets/form/icon-check.svg") no-repeat center center;
  display: none;
}

.radio-label::before {
  border-radius: 50%;
}

.checkbox-label::before {
  border-radius: 3px;
}

input[type=radio]:checked+label::before,
input[type=checkbox]:checked+label::before {
  background-color: #19191a;
  border: none;
  box-shadow: none;
}

input[type=radio]:checked+label::after,
input[type=checkbox]:checked+label::after {
  display: block;
}

.cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../assets/form/icon-select.svg") no-repeat center center;
  pointer-events: none;
}

select {
  position: relative;
  padding: .6em 2em .6em 1em;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* -------------------------------- 

Basic style

-------------------------------- */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input,
textarea,
select {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

header {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

header nav {
  display: inline-block;
}

@media only screen and (min-width: 1024px) {
  header {
    height: 120px;
  }

  header:after {
    display: table;
  }
}

.cd-logo {
  display: inline-block;
  height: 100%;
  position: relative;
}

.cd-logo img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@media only screen and (min-width: 1600px) {
  .cd-logo {
    margin-left: 5%;
  }
}

.cd-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  text-align: center;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.cd-main-nav li a {
  display: flex;
  font-size: 1.8rem;
  padding: 1em 0;
  border-bottom-width: 1px;
  border-style: solid;
}

.cd-main-nav li:first-of-type a {
  border-top-width: 1px;
}

@media only screen and (min-width: 320px) {
  .cd-main-nav {
    position: relative;
    display: flex;
    gap: 0rem;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    background: rgba(0, 0, 0, 0.5);
    top: -20px;
    width: 100vw;
    height: 120px;
    padding: 2rem 0rem;
    flex-wrap: wrap;
    text-align: left;
  }

  .cd-main-nav li {
    display: table-cell;
    vertical-align: middle;
    padding: 0 1em;
    color: #58585b;
  }

  .cd-main-nav li a {
    display: inline-block;
    font-size: 1.6rem;
    padding: .4em .2em;
    border-bottom: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }

  .cd-main-nav li:first-of-type a {
    border-top: none;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-main-nav {
    display: flex;
    position: absolute;
    padding: 35px 200px 0 ;
    gap: 1rem;
    background: rgba(0, 0, 0, 0.01);
  }
}

@media only screen and (min-width: 1600px) {
  .cd-main-nav {
    display: flex;
    position: absolute;
    padding: 30px 350px 0 ;
    gap: 3rem;
    background: rgba(0, 0, 0, 0.01);
  }
}

@media only screen and (min-width: 1920px) {
  .cd-main-nav {
    display:flex;
    flex-direction: column;
    position: absolute;
    padding: 45px 400px 0;
    gap: 4rem;
    background: rgba(0, 0, 0, 0.01);
  }
}

.nav-is-visible span::before {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

.nav-is-visible span::after {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

.nav-is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

main {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 300px 0;
}

main>h1 {
  text-align: center;
  margin: 3em 0;
}

@media only screen and (min-width: 1024px) {
  main {
    padding-top: 80px;
  }
}

@media only screen and (min-width: 1600px) {
  main {
    padding-top: 80px;
  }
}

@media only screen and (min-width: 1920px) {
  main {
    max-width: none;
    padding: 120px 0 50px;
  }

  h1>main {
    position: fixed;
    top: 0;
    left: 50%;
    height: 80px;
    line-height: 80px;
    width: 400px;
    margin: 0 0 0 -200px;
    font-size: 2.6rem;
    z-index: 20;
  }
}

section {
  margin: 3em 0;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

section:nth-of-type(1) h2::before {
  content: '1. ';
}

section:nth-of-type(2) h2::before {
  content: '2. ';
}

section:nth-of-type(3) h2::before {
  content: '3. ';
}

section:nth-of-type(4) h2::before {
  content: '4. ';
}

section:nth-of-type(5) h2::before {
  content: '5. ';
}

section:nth-of-type(6) h2::before {
  content: '6. ';
}

section:nth-of-type(7) h2::before {
  content: '7. ';
}

section:nth-of-type(8) h2::before {
  content: '8. ';
}

@media only screen and (min-width: 768px) {
  section {
    margin: 3em 0 5em;
  }
}

@media only screen and (min-width: 1600px) {
  section {
    width: 48%;
    float: left;
    margin: 0 4% 4em 0;
  }

  section:nth-of-type(2n) {
    margin-right: 0;
  }
}

/* Branding section - basic style */
.cd-branding .cd-box {
  margin-bottom: 1em;
}

.cd-branding img {
  display: block;
  width: 100%;
}

.cd-branding ul:last-of-type {
  padding-top: .6em;
}

.cd-branding ul:last-of-type li {
  display: inline-block;
  margin-right: 1em;
}

.cd-branding ul:last-of-type li:nth-of-type(1) img {
  width: 90px;
  height: 90px;
  border-radius: 1em;
}

.cd-branding ul:last-of-type li:nth-of-type(2) img {
  width: 60px;
  height: 60px;
  border-radius: .6em;
}

.cd-branding ul:last-of-type li:nth-of-type(3) img {
  width: 32px;
  height: 32px;
  border-radius: .4em;
}

.cd-branding ul:last-of-type li:nth-of-type(4) img {
  width: 16px;
  height: 16px;
  border-radius: .2em;
}

@media only screen and (min-width: 768px) {
  .cd-branding .cd-box {
    width: 49%;
    float: left;
    margin: 0 2% 2em 0;
  }

  .cd-branding .cd-box:nth-of-type(2n) {
    margin-right: 0;
  }

  .cd-branding ul:last-of-type {
    clear: left;
  }

  .cd-branding ul:last-of-type li {
    margin-right: 3em;
  }
}

/* Color section - basic style */
.cd-colors li {
  text-align: center;
  width: 48%;
  float: left;
  margin: 0 4% 1em 0;
}

.cd-colors li:nth-of-type(2n) {
  margin-right: 0;
}

.cd-colors .cd-color-swatch {
  position: relative;
  width: 100%;
  padding: 50% 0;
}

.cd-colors .cd-color-swatch::before,
.cd-colors .cd-color-swatch::after {
  /* lighter and darker color shades of the same swatch */
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 20%;
}

.cd-colors .cd-color-swatch::before {
  left: 0;
}

.cd-colors .cd-color-swatch::after {
  right: 0;
}

.cd-colors b {
  display: block;
  padding: .6em 0;
}

@media only screen and (min-width: 768px) {
  .cd-colors li {
    width: 19%;
    float: left;
    margin: 0 1.25% 1em 0;
  }

  .cd-colors li:nth-of-type(2n) {
    margin-right: 1.25%;
  }

  .cd-colors li:nth-of-type(5n) {
    margin-right: 0;
  }
}

.cd-typography .cd-box,
.cd-buttons .cd-box,
.cd-icons .cd-box,
.cd-form .cd-box {
  padding: 1em;
}

@media only screen and (min-width: 768px) {

  .cd-typography .cd-box .cd-box,
  .cd-buttons .cd-box .cd-box,
  .cd-icons .cd-box .cd-box,
  .cd-form .cd-box .cd-box {
    padding: 2em;
  }
}

/* Typography section - basic style */
.cd-typography h1::before {
  content: 'Aa - ';
  color: orange;
}

.cd-buttons .cd-box:first-of-type {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.cd-buttons .cd-box:last-of-type {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cd-buttons button {
  margin: .4em;
}

@media only screen and (min-width: 1024px) {
  .cd-buttons button {
    margin: 1em;
  }
}

/* Icons section - basic style */
.cd-icons li {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 3em;
}

/* Form section - basic style */
.cd-form input[type=text],
.cd-form .cd-input-wrapper {
  margin: 1em;
}

.cd-form .cd-input-wrapper {
  position: relative;
  display: inline-block;
}

.cd-form select::-ms-expand {
  display: none;
}

@-moz-document url-prefix() {
  .cd-select::after {
    display: none;
  }
}

.no-csstransitions .cd-select::after {
  display: none;
}

/* Imagery section - basic style */
.images-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 3rem 5rem;
}

.image-w-text {
  position: relative;
}